{% load static %}

<aside>
    <div class="aside__body">
        <span class="aside__title">powered by <br> https://t.me/luchinsky</span>
        <nav class="aside__navigation">
            <a href="{% url 'posts' %}" class="aside__link"><i class="fas fa-address-card"></i> posts</a>
            <a href="{% url 'home' %}" class="aside__link"><i class="fas fa-igloo"></i> image Pudge</a>
            {% if user.is_authenticated %}
            <a href="{% url 'create' %}" class="aside__link"><i class="far fa-plus-square"></i> add post</a>
            <a href="{% url 'account_logout' %}" class="aside__link"><i class="fas fa-sign-out-alt"></i> log out</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="aside__link"><i class="fas fa-sign-in-alt"></i> log in</a>
            {% endif %}
        </nav>
    </div>
</aside>